@font-face {
  font-family: 'My-Gotham';
  src:  url('../fonts/gotham/GothamBook.otf'),
        url('../fonts/gotham/Gotham-Light.otf'),
        url('../fonts/gotham/GothamMedium.otf'),
        url('../fonts/gotham/GothamBlack.otf'),
        url('../fonts/gotham/GothamBold.otf');
}

html body {
  font-family: My-Gotham;
  height: 100%;
  background-image: -o-radial-gradient(#c9c9c946 20%, transparent 20%), -o-radial-gradient(#FAFAFA 20%, transparent 20%);
  background-image: radial-gradient(#c9c9c946 20%, transparent 20%), radial-gradient(#FAFAFA 20%, transparent 20%);
  background-color: #f3f3f3;
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 0rem;
}

.check-hov {
  transform: scale(1);
  transition: all ease-in-out .3s;
}

.check-hov:hover {
  transform: scale(1.2);
  transition: all ease-in-out .3s;
}